@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu Regular';
  src: url('./fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('./fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('./fonts/Ubuntu-Bold.ttf');
}

html {
  scroll-behavior: smooth;
}

.brand-regular {
  font-family: 'Ubuntu Regular', sans-serif;
}

.brand-medium {
  font-family: 'Ubuntu Medium', sans-serif;
}

.brand-bold {
  font-family: 'Ubuntu Bold', sans-serif;
}
